.featured-product {
    display: flex;
}

.outer-featured-product-container {
    background: rgb(230, 230, 230);
    border-radius: $BORDER_RADIUS;
    margin: 1rem;
    padding: 1rem;
}

.product-container, .featured-product{
    display: flex;
    gap: 1rem;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 1.1rem;
        font-weight: 500;
        color: $TEXT_COLOR;
    }
    margin-bottom: 1rem;
}

.outer-product-container{
    margin: 1rem 2rem;
}

.loadmore-btn-container {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.category-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .category-icon {
            $size : 5rem;
            width: $size;
            height: $size;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5rem;
            background: $PRIMARY_COLOR_SHADOW;
        }
        p{
            color: $PRIMARY_COLOR;
            margin: .5rem 0;
        }
    }
}


@media only screen and (min-width: 512px) {
    .category-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 0;

        .category {
            flex: 0 0 auto;
            width: 150px;

            p{
                text-align: center;
            }

        }
    }
}
@media only screen and (max-width: 512px) {

    .category-container {
        margin: 0;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .category-outer-container {
            flex: 0 0 auto;
            width: 25%;
            gap: .5rem;
            margin-top: 1rem;

            .category {

                .category-icon {
                    $size : 3.5rem;
                    width: $size;
                    height: $size;
                    border-radius: $size;
                    img{
                        height: 1.65rem !important;
                    }
                }
                p{
                    margin: .4rem 0 0;
                    font-size: .8rem;
                    text-align: center;
                    line-height: 1.1rem;
                }
            }
        }

    }

    .outer-featured-product-container {
        border-radius: 0;
        margin: 0;
        padding: .5rem;
    }

    .product-container, .featured-product{
        gap: .5rem;
        padding-bottom: .5rem;
    }

    .outer-product-container{
        margin: .5rem;
    }

    .heading{
        h2{
            font-size: .9rem;
        }
        margin-bottom: .5rem;
    }

    .loadmore-btn-container {
        margin: 1rem 0 1.5rem;
        display: flex;
        justify-content: center;
    }
    
}