#toast {
    position: fixed;
    bottom: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .toast-outer-container {
        max-width: 768px;
        // width: 80%;
        margin: 0 2rem;
        
        .toast-container {
            display: flex;
            align-items: center;
            gap: .75rem;
            background: white;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            img {
                height: 1.25rem;
            }
            
            &.SUCCESS {
                background-color: $TOAST_SUCCESS_BCK;
                p {
                    color: $TOAST_SUCCESS_TEXT_COLOUR;
                    font-size: .9rem;
                }
            }
            &.ERROR {
                background-color: $TOAST_ERROR_BCK;
                p{
                    color: $TOAST_ERROR_TEXT_COLOUR;
                    font-size: .9rem;
                }
            }
        }
    }
}