@font-face {
    font-family: 'Poppins';  // You can name it whatever you like
    src: url('./Poppins-Regular.ttf') format('truetype');  // Adjust the path to the font file
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';  // You can name it whatever you like
    src: url('./Poppins-Medium.ttf') format('truetype');  // Adjust the path to the font file
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';  // You can name it whatever you like
    src: url('./Poppins-SemiBold.ttf') format('truetype');  // Adjust the path to the font file
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';  // You can name it whatever you like
    src: url('./Poppins-Bold.ttf') format('truetype');  // Adjust the path to the font file
    font-weight: 700;
    font-style: normal;
}