$PRIMARY_COLOR : #373373;
$PRIMARY_COLOR_SHADOW : #37337314;

$BLACK : #1e1e1e;
$YELLOW : rgb(255, 187, 0);
$SKELTON_GREY : #bbbbbb;
$TEXT_COLOR : #3e4153;
$AMOUNT_GREEN : #37a864;

$BORDER_RADIUS : .25rem;

$CARD_BOX_SHADOW : rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// hoc
@import "./hoc/cards.scss";
@import "./hoc/icons.scss";
@import "./hoc/dialogs.scss";

// input
@import "./input/telephone-input.scss";

// page
@import "./home/home.scss";
@import "./page/register.scss";
@import "./page/item.scss";
@import "./page/404.scss";
@import "./page/search.scss";
@import "./page/profile-section.scss";
@import "./page/ad-form.scss";
@import "./page/chat.scss";
@import "./page/setting.scss";

@import "./grid.scss";
@import "./loading-animation.scss";


// drawers
@import "./page/drawers/menu-drawer.scss";

// layout
@import "./layout/navbar.scss";
@import "./layout/footer.scss";
@import "./layout/drawer.scss";
@import "./layout/dialog.scss";
@import "./layout/banners.scss";
@import "./layout/button.scss";
@import "./layout/form-input.scss";

body {
    max-width: 1920px;
    margin: auto;
}


/* style the scrollbar */
::-webkit-scrollbar {
    width: .5rem;
  }
  
::-webkit-scrollbar-track {
background-color: $PRIMARY_COLOR_SHADOW;
}

::-webkit-scrollbar-thumb {
background-color: $PRIMARY_COLOR;
}  