.ad-form-outer-container {
    max-width: 1000px;
    margin: auto;

    * {
        color: $TEXT_COLOR;
    }

    .page-heading {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    .section {
        padding: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .section-heading {
            font-weight: 500;
            border-bottom: 1px solid #d2d3d7;
            padding-bottom: .9rem;
            color: $PRIMARY_COLOR;

        }


        .section-detail-container {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            width: 100%;

            .left-col {
                width: 20%;
                text-align: right;
                font-weight: 500;
            }

            .right-col {
                width: 80%;

                .inner-container {
                    padding: 0 2rem 0 0;
                }
            }

            .help-text {
                font-size: .8rem;
                color: grey;
            }

            input {
                font-size: 1rem;
                padding: .5rem 1rem;
                border-radius: $BORDER_RADIUS;
                border: 1px solid #cfcfcf;
                margin: .25rem 0;
                width: 100%;
            }

            select {
                font-size: 1rem;
                padding: .5rem 1rem;
                border-radius: $BORDER_RADIUS;
                border: 1px solid #cfcfcf;
                margin: .25rem 0;
                // width: calc(100% + 2rem);
                width: 100%;

                option {
                    padding: .5rem;
                }
            }

            textarea {
                border: 1px solid #cfcfcf;
                width: 100%;
                padding: .5rem 1rem;
                resize: none;
                border-radius: $BORDER_RADIUS;
            }

            .tags-container {
                display: flex;
                margin-top: 1rem;
                gap: .5rem;

                p {
                    background: #8080803b;
                    padding: 0.25rem 1rem;
                    border-radius: 1rem;
                    font-size: .9rem;
                    &:hover {
                        text-decoration: line-through;
                        cursor: pointer;
                    }
                }
            }

            .ad-promotion-outer-container {
                display: flex;
                justify-content: space-between;
                .ad-promotion-container {
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    // width: 100%;
    
                    select {
                        width: 125px;
                    }
    
                    .ad-options {
                        display: flex;
                        align-items: center;
                        // width: inherit;
    
                        label {
                            white-space: nowrap;
                            margin-left: .5rem;
                            font-size: 1rem;
                        }
                    }

                    .listingOption__checkout {
                        width: 25px;
                    }
                    .listingOption__price, .listingTotalPrice {
                        text-align: end;
                        margin-left: 1rem;
                        font-weight: 500;
                        color: $AMOUNT_GREEN;

                        width: 100px;


                        & span {
                            font-weight: 500;
                            color: $TEXT_COLOR;
                        }
                    }
                    .listingOption__select {
                        text-align: center;
                    }
                }
            }

            .listingTotalPrice {
                text-align: end;
                margin-left: 1rem;
                font-weight: 500;
                color: $AMOUNT_GREEN;
                margin-top: 1rem;

                & span {
                    font-weight: 500;
                    color: $TEXT_COLOR;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .agree-tc-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        label {
            margin-left: .5rem;

            & span {
                font-weight: 500;
            }
        }
    }

    .submit-btn-container {
        margin-bottom: 2rem;
        display: flex;
        gap: .5rem;
        
    }
}

.listing-image-container {
    margin: .25rem 0;

    input {
        display: none;
    }

    label {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2rem 1rem;
        background: #0080001c;
        border: 1px dashed #008f79;
        cursor: pointer;
        border-radius: $BORDER_RADIUS;

        p {
            font-size: .9rem;
        }
    }

    &.disable-image {
        label {
            background: #80808026;
            border-color: grey;
        }
    }

    .image-preview-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 1rem;
        width: calc(100% + 2rem);

        img {
            width: 100%;
            aspect-ratio: 4 / 3;
            border-radius: $BORDER_RADIUS;
            object-fit: contain;
            background: #000000c7;
        }
    }

}

.link-to-website-container {
    display: flex;
    align-items: center;

    input {
        width: 2rem !important;
        height: .9rem;
    }
}

.youtube-video-thumbnail {
    margin-top: 1rem;
}

.radio-input {
    display: flex;
    align-items: center;

    .radio-input_input {
        width: 2rem !important;
    }
}

.price-input {
    width: calc(100% - 2rem) !important;
    margin-left: 2rem !important;
}


.text-editor {
    border: 1px solid #ccc;
    border-radius: $BORDER_RADIUS;
    height: 348px;
    overflow-y: scroll;
    padding: .5rem 1rem;

    .editor {
        min-height: 348px;
        div {
            margin-bottom: .25rem;
        }
    }

    *, div, a, p, code {
        font-size: 1rem !important;
        color: $TEXT_COLOR !important;
        line-height: 125% !important;
    }
    ul {
        margin-left: 2rem;
    }

}

.help-text-margin {
    margin-top: .25rem;
}
















@media only screen and (max-width: 512px) {
    $para : .8rem;

    .ad-form-outer-container {
        margin: 0 .5rem;
    
        .page-heading {
            font-size: 1rem;
            margin: 1rem 0 .5rem;
        }
    
        .section {
            padding: 0;
            margin-bottom: 1.5rem;
            box-shadow: none;

    
            .section-heading {
                font-size: .9rem;
                line-height: 1.2rem;

                span {
                    font-size: .9rem;
                }
            }
    
    
            .section-detail-container {
                margin-top: .5rem;
                flex-direction: column;
                gap: .25rem;
    
                .left-col {
                    width: 100%;
                    text-align: left;
                    font-size: .9rem;
                }
    
                .right-col {
                    width: 100%;
                }
    
                .help-text {
                    font-size: .75rem;
                    color: grey;
                    line-height: 1rem;
                }
    
                input {
                    font-size: $para;
                    padding: .5rem;
                }
        
                textarea {
                    padding: .5rem .75rem;
                    font-size: .9rem;
                    line-height: 1.2rem;
                }
    
                .tags-container {
                    flex-wrap: wrap;
                    gap: .5rem;
                    margin-top: .5rem;
    
                    p {
                        padding: 0.25rem .5rem;
                        font-size: $para;
                    }
                }
            }
        }
    
        .agree-tc-container {
            margin-bottom: .5rem;
    
            label {
                font-size: $para;
                line-height: 1.25rem;
                
                & span {
                    font-size: $para;
                }
            }
            input {
                width: 1.5rem;
            }
        }
    
        .submit-btn-container {
            margin-bottom: 2rem;
            display: flex;
            gap: .5rem;
        }
    }

    .text-editor {
        padding: .5rem .75rem;

        *, div, a, p, code {
            font-size: $para !important;
            color: $TEXT_COLOR !important;
            line-height: 125% !important;
        }
        ul {
            margin-left: 1rem;
        }
    }

    .link-to-website-container {
        label {
            font-size: .9rem;
        }
        input{
            width: 1rem;
        }
    }

    .radio-input {
        label {
            font-size: $para;
        }
        .radio-input_input {
            width: 1.5rem !important;
        }
    }

    .listing-image-container {
    
        label {
            padding: 1.5rem 1rem;
            font-size: .9rem;
            p {
                font-size: $para;
            }
            h2 {
                font-size: .9rem;
            }
        }
   
        .image-preview-container {
            gap: .5rem;
            margin-top: .75rem;
        }
    
    }

}