
.search-page-container {
    max-width: 1440px;
    margin: auto;

    *{
        color: $TEXT_COLOR;
    }

    .heading-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: $PRIMARY_COLOR;
        }
        p{
            font-weight: 500;
        }
    }

    .search-result-container {
        margin: 1rem 0 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        .pages-container {
            .pages {
                width: 2.5rem;
                height: 2.5rem;
                margin: .5rem;
                text-align: center;

                background: white;
                border: 1px solid $PRIMARY_COLOR;
                color: $PRIMARY_COLOR;

                &.current-page {
                    background: $PRIMARY_COLOR;
                    color: white;
                }
            }
        }
    }

}


@media only screen and (max-width: 512px) {
    .search-page-container {
    
        .heading-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 0.5rem;

            h2 {
                font-size: 1.25rem;
            }
            p{
                font-size: .8rem;
            }
        }
    
        .search-result-container {
            margin: 0;
            margin: .5rem 0;
            padding: .5rem;
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem;
        }
    
        .pagination-container {
            margin: 1rem 0;
    
            .pages-container {
                .pages {

                    width: 1.5rem;
                    height: 1.5rem;
                    margin: .25rem;
                    font-size: .8rem;
                }
            }
        }
    
    }

}