.setting-page-outer-container {
    display: flex;

    .left-col {
        flex: 0 0 auto;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .right-col {
        flex: 0 0 auto;
        width: 70%;
    }
}